<.header>
  New Server
  <:subtitle>Use this form to manage server records in your database.</:subtitle>
</.header>

<.server_form changeset={@changeset} action={~p"/server"} />

<.back navigate={~p"/server"}>Back to server</.back>
