<.header>
  New Server library item
  <:subtitle>Use this form to manage server_library_item records in your database.</:subtitle>
</.header>

<.server_library_item_form changeset={@changeset} action={~p"/server_library_item"} server_libraries={@server_library_collection} />

<.back navigate={~p"/server_library_item"}>Back to server_library_item</.back>
