<.header>
  New Library
  <:subtitle>Use this form to manage library records in your database.</:subtitle>
</.header>

<.library_form changeset={@changeset} action={~p"/library"} />

<.back navigate={~p"/library"}>Back to library</.back>
