<.header>
  New Request
  <:subtitle>Use this form to manage request records in your database.</:subtitle>
</.header>

<.request_form changeset={@changeset} action={~p"/request"} sources={@source_collection} />

<.back navigate={~p"/request"}>Back to request</.back>
